
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    
}
/* Styling heading */
.header{
    background-color: #FF900E1A;
   
    
}
.logo h1{
    font-weight: 900;
    width: 100%;
    font-size: 32px;
}
.nav{
    display: grid;
    grid-template-columns: 300px .06fr;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0% 14%;
    padding-top: 50px;
    
}

 ul{
    list-style: none;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4,1fr);
    font-size: 18px;
    
    

    /* list-style: none;
    display: flex;
    gap: 20px;
    justify-content: flex-end; */
}
@media screen and (max-width:576px){
    .nav{
        margin: 0px;
        padding: 20px 20px 20px 20px;
        align-items: flex-start;
    }
    .logo h1{
        font-size: 25px;
    }
     ul{
        grid-template-columns: repeat(1,1fr);
        justify-content: start;
        
        
    }
    
   
    
}


/* banner talkies styling */

.banner-talkies{
    padding: 50px 20%;
 
 display: grid;
 grid-template-columns: 1fr;
 gap: 20px;
text-align: center;
}
.banner-talkies h1{
    font-size: 45px;
    font-weight: 900;
}
.banner-talkies p{
    color: gray;
}
.common-btn{
    width:180px;
    height: 65px;
    color: white;
    background-color: #FF900E;
    border-radius: 10px;
    padding: 25px;
    border: 0;
    

}
.banner-talkies button{
    margin:0% 35%;
}
/* responsiveness mobile screen  */
@media screen and (max-width:576px) {
    .banner-talkies button ,button{
        margin: 0% 20%;
        width: 150px;
        height: 50px;
        padding: 10px;
    }
    
}
/* banner image styling */
.banner-image{
    margin: 0% 14%;
    
}
.banner-image img{
    width: 100%;
    margin-bottom: 30px;
}


/* main body container section styling */

.container{
    display: flex;
    flex-direction: row;
    margin: 0% 20%;
    margin-top: 80px;
    
}
.half-width{
    width: 50%;
}
.image-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 10px;
    align-content: center;
}
.image-container img{
    width: 100%;

    /* height: 180px; */
}

.quick-feature-talkies{
    padding-left: 50px;
   
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-content: center;
    gap: 20px;
}
.quick-feature-talkies h3{
    color:#727272 ;
    font-size: 25px;
    
}
.our-talk{
    font-weight: 900;
    color: black;
    
}
.feature-talk{
    color: #FF900E;
}
.quick-feature-talkies p{
    font-size: 16px;
    color: #727272b0;
}
/* feature talkies responsiveness */

@media screen and (max-width:576px) {
    .container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        margin-top: 20px;
    }
    .half-width{
        width: 100%;
        margin-bottom: 20px;
    }
    .image-container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .quick-feature-talkies{
        padding-left: 0px;
        text-align: center;
        
    }
    .common-btn{
        
    }
}

/* All feature section styling */

.all-feature-section{
    margin:0% 14% ;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
    
    margin-bottom: 80px;
}
.features{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(1,1fr);

}
.features h2{
    border-left: 3px solid #FF900E;
    padding: 10px;
}
.features p{
    color: #727272a5;
}
.single-feature{
    margin: 3px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gainsboro;
}
.single-feature h4{
    margin-bottom: 15px;
}
.experience{
    font-size: 35px;
    font-weight: 900;
    
}
.experience-btn{
    width: 22%;
    height: 100px;
    margin: 0% 40%;
    /* position: absolute;
    top: 330%;
    left: 10%; */
    position: relative;
    top: -130px;
    left: 100px;
}




.all-feature-img img{
    width: 100%;
    height: 100%;
}
/* responosiveness of feature group */
@media screen and (max-width:576px) {
    .all-feature-section{
        grid-template-columns: repeat(1,1fr);
        
    }
    .experience-btn{
        /* position: static;
         */
        position: relative;
        width: 300px;
        margin: 0% 22%;
        left: 20px;
    
    }
    
}

/* facts styling started */

.facts{
    margin: 0% 14%;
    margin-bottom: 80px;
}
.fact-talk{
    width: 50%;
    margin-bottom: 30px;
    
}
.fact-talk p{
    color: #727272A5;
}
.fact-group{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}
.single-fact{
    border: 1px solid #FF900E;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
    border-radius: 5px;
    
    
}
.single-fact p{
    font-size: 10px;
    font-weight: 300;
}
.single-fact:hover{
    transform: scale(2);
    transition: transform 2s linear ;
}





